<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>Consultar Pelicules</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Consultar Pel·lícules</h1>-->
<!--<table>-->
<!--  <tr>-->
<!--    <th>Títol</th>-->
<!--    <th>Director</th>-->
<!--    <th>Any</th>-->
<!--    <th>Descripció</th>-->
<!--  </tr>-->
<!--  <tr th:each="peli : ${llistaPeliculas}">-->
<!--    <td th:text="${peli.titol}"></td>-->
<!--    <td th:text="${peli.director}"></td>-->
<!--    <td th:text="${peli.any}"></td>-->
<!--    <td th:text="${peli.descripcio}"></td>-->
<!--  </tr>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->