<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/estils/estils.css}" />-->
<!--</head>-->
<!--<body>-->
<!--MENU<br>-->
<!--<a href="/afegirAlumne.html">Afegir Alumne </a> <br>-->
<!--<a href="/consultarAlumnes">Consultar Alumnes</a> <br>-->
<!--<a href="/esborrarAlumne.html">Esborrar Alumne </a> <br>-->
<!--<a href="/modificarAlumne.html"> Modificar Alumne </a> <br>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestió de Pel·lícules</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/estils/estils.css}" />
</head>
<body>
<div class="container">
    <h1>Gestió de Pel·lícules</h1>
    <nav>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/afegirPelicula.html">Afegir Pel·lícula</a>
            </li>
            <li class="list-group-item">
                <a href="/consultarPelicula.html">Consultar Pel·lícules</a>
            </li>
            <li class="list-group-item">
                <a href="/eliminarPelicula.html">Esborrar Pel·lícula</a>
            </li>
            <li class="list-group-item">
                <a href="/modificarPelicula.html">Modificar Pelicula</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>